:root {
	--highlight-1: #FF6D00;
	--highlight-2: #FF7900;
	--highlight-3: #FF8500;
	--highlight-4: #FF9100;
	--highlight-5: #FF9E00;
	--background-1: #240046;
	--background-2: #3C096C;
	--background-3: #5A189A;
	--background-4: #7B2CBF;
	--background-5: #9D4EDD;
	--neutral-1: #a1afbc;
	--neutral-2: #bcc8d3;
	--neutral-3: #d2dce5;
	--neutral-4: #e3e9ef;
	--neutral-5: #f1f5f9;
}

