:root {
    --theme: #FFFFFF;
    --one: #22092C;
    --two: #872341;
    --three: #BE3144;
    --four: #F05941;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Silkscreen:wght@400;700&display=swap');

.main-content p,
.main-content ul,
.main-content ol {
    font-family: 'JetBrains Mono', monospace;
    color: var(--one);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bungee', sans-serif;
    color: var(--two);
    font-weight: 700;
}

.text-delta {
    font-family: 'Silkscreen', sans-serif;
}

.side-bar {
    background-color: var(--theme);
}

a,
.nav-list .nav-list-item .nav-list-expander {
    color: var(--one);
}
 
.nav-list .nav-list-item .nav-list-link.active {
    color: var(--three);
    background-image: none;
    background-color: transparent;
    font-weight: 700;
}

.nav-list .nav-list-item .nav-list-expander:hover,
.nav-list .nav-list-item .nav-list-link:hover {
    background-image: none;
    color: var(--four);
}

.nav-list .nav-list-item .nav-list-expander:hover svg {
    color: var(--four);
}

.main-content .anchor-heading svg {
    color: var(--four)
}

