/***
COLOURS
***/

:root {
  --background: #FFFFFF;
  --background-alt: #e9eef3;
  --contrast: #15093e;
  --contrast-alt: #2a1c5a;
  --highlight: #24b7a6;
  --highlight-alt: rgba(36, 183, 166, 0.1);
  --shadow-one: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15093e;
    --background-alt: #2a1c5a;
    --contrast: #FFFFFF;
    --contrast-alt: #E3E9EF;
    --highlight: #12CAB5;
    --highlight-alt: rgba(18, 202, 181, 0.1);
  }
}

/***
FONTS
***/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&family=Yeseva+One&display=swap');

/***
GENERAL
***/

body {
    background-color: var(--background);
}

body,
.main-content p,
.main-content ul,
.main-content ol {
    font-family: 'Archivo', sans-serif;
    color: var(--contrast);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    color: var(--contrast-alt);
    text-transform: uppercase;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6, .main-content #toctitle {
  margin-bottom: 1rem;
}

hr {
    background-color: var(--background-alt);
}

/* Links */

a {
    color: var(--contrast-alt);
    transition: all 0.25s ease-out;
}

a:not([class]) {
    text-decoration-color: var(--highlight);
}

a:not([class]):hover {
    color: var(--highlight);
    text-decoration-color: var(--highlight);
}

/***
FOOTNOTES AND OTHERS
***/

.text-delta,
h6 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem !important;
}

.footnotes {
    padding: 1rem;
    background-color: var(--background-alt);
    margin-top: 60px;
}

.footnotes::before {
    display: block;
    content: 'Footnotes';
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem;
    color: var(--contrast-alt);
}

/***
HEADER
***/

.site-header {
    border-bottom: 1px solid var(--background);
}

.main-header {
    background-color: transparent;
    border-bottom: 1px solid var(--background);
}

/***
SITE TITLE
***/

.site-title {
    color: var(--contrast-alt);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.site-title:hover {
  background-image: none;
}

a.site-title span {
    font-size: .6rem;
    margin-right: 0.2rem;
}

.site-title {
    font-size: 1.2rem !important;
}

/***
SIDEBAR
***/

.side-bar {
    background-color: var(--background);
    font-family: 'Rubik', sans-serif;
    border-right: 1px solid var(--background-alt);
}

.nav-list .nav-list-item .nav-list-expander,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-expander {
    color: var(--contrast);
}

.site-nav a {
    font-size: 0.9rem !important;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    font-weight: 500;
    color: var(--contrast);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-list-link.active,
li.nav-list-item.active,
.nav-list .nav-list-item .nav-list-link.active {
    color: var(--contrast-alt);
    background-image: none;
    background-color: transparent;
    font-weight: 700;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-expander:hover,
.nav-list .nav-list-item .nav-list-link:hover {
    background-image: none;
    color: var(--highlight);
}

.nav-list .nav-list-item .nav-list-expander:hover svg {
    color: var(--highlight);
    cursor: pointer;
}

.main-content .anchor-heading svg {
    color: var(--contrast-alt);
}

.main-content .anchor-heading svg:hover {
    color: var(--highlight);
    opacity: 0.8;
}

/***
LISTS
***/

.main-content ol > li::before,
.main-content ul > li::before {
    color: var(--contrast-alt);
}

/***
CODE BLOCK
***/

.highlight,
pre.highlight {
    background: var(--background-alt);
    color: var(--contrast);
}

:not(pre, figure) > code {
    font-size: 0.9rem;
    background: var(--background-alt);
    border: 1px solid var(--background-alt);
    padding: 2px 4px;
    color: var(--contrast);
}

/***
BLOCK QUOTE
***/

.main-content blockquote {

    border-left: 3px solid var(--background-alt);
    font-style: italic;
}

.main-content blockquote p {
  opacity: 0.8;
}

/***
SEARCH
***/

.search-input,
a.search-result *,
.search-input::placeholder,
.search-input:focus + .search-label .search-icon {
    background: transparent;
    color: var(--contrast);
}

.search-label .search-icon {
    color: var(--contrast-alt);
}

.search-results,
.search-active .search-input {
    background-color: var(--background-alt);
}

.search-result-doc .search-result-icon {
  color: var(--contrast);
}

.search-result:hover, .search-result.active {
  background-color: var(--highlight);
}

.search-result:hover a, .search-result.active a {
  color: var(--background);
}

/***
BREADCRUMBS
***/

.breadcrumb-nav-list-item::after {
    color: var(--background-alt);
}

/***
FOOTER
***/

.site-footer a {
  display: block;
  text-decoration: none;
  background: var(--background);
  color: var(--contrast);
  // box-shadow: var(--shadow-one);
  border-radius: 0px;
  padding: 0.8rem;
  transition: all 0.25s ease-in-out;
  border: solid 1.5px var(--background-alt);
}

.site-footer a:hover {
  background: var(--highlight);
  color: var(--background-alt);
  border: solid 1.5px var(--highlight);
}

.site-footer a strong {
  color: var(--highlight);
  font-weight: 500;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  transition: all 0.25s ease-in-out;
}

.site-footer a:hover strong{
  color: var(--background-alt);
  // border-bottom: solid 1px var(--highlight);
}

/***
PAGE FOOTER
***/

.main-content footer p.text-small.text-grey-dk-100.mb-0,
.main-content footer p.text-small.text-grey-dk-000.mb-0.mr-2 {
  color: var(--contrast);
}

/* Reply button */
.main-content footer p.text-small.text-grey-dk-100.mb-0 a {
    background: var(--background);
    text-decoration: underline;
    text-decoration-color: var(--highlight);
    color: var(--contrast);
    padding: 8px 16px;
    position: relative;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
    border: solid 2px transparent;
}


.main-content footer p.text-small.text-grey-dk-100.mb-0 a:hover {
    // border: solid 2px var(--highlight);
    background: var(--highlight-alt);
    color: var(--highlight);
    text-decoration-color: var(--highlight);
}

.main-content footer p.text-small.text-grey-dk-100.mb-0 a i {
  color: var(--contrast);
  margin-right: 8px;
}

.main-content footer p.text-small.text-grey-dk-100.mb-0 a:hover i {
  color: var(--highlight);
  transition: all 0.25s ease-in-out;
}

// .main-content footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }


.text-grey-dk-000 {
  color: var(--background);
}

a#edit-this-page {
    color: var(--background);
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: all 0.25s ease-in-out;
}

a#edit-this-page:hover {
    color: var(--highlight);
    border-bottom: solid 1px var(--highlight);
}

/***
MENU
***/

.icon {
  color: var(--contrast-alt);
}

.site-button:hover {
  background-image: none;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
.site-footer {
    font-size: 1rem !important;
}

.main-content footer {
  margin-bottom: 1rem;
}

.main-content footer p.text-small.text-grey-dk-100.mb-0 a {
// background: var(--contrast-alt);
// text-decoration: none;
display: block;
}
}

@media screen and (min-width: 800px) {
  .main-content img {
      max-width: 50%;
      display: block;
  }
}