:root {
    --theme: #FFFFFF;
    --one: #22092C;
    --two: #872341;
    --three: #BE3144;
    --four: #F05941;
    --five: #f1f5f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #22092C;
    --one: #fff;
    --two: #c3305c;
    --three: #e5495d;
    --four: #F05941;
    --code-bg: #2f1838;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: var(--theme);
}

body,
.main-content p,
.main-content ul,
.main-content ol {
    font-family: 'JetBrains Mono', monospace;
    color: var(--one);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bungee', sans-serif;
    color: var(--two);
    font-weight: 700;
}

.text-delta,
h6 {
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem !important;
}

.side-bar {
    background-color: var(--theme);
    font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
    border-right: 1px solid var(--five);
}

a,
.nav-list .nav-list-item .nav-list-expander {
    color: var(--one);
}

a:not([class]) {
    text-decoration-color: var(--two);
}

a:not([class]):hover {
    text-decoration-color: var(--four);
    color: var(--four);
}

.site-header {
    border-bottom: 1px solid var(--five);
}

.site-nav a {
    font-size: 0.9rem !important;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    font-weight: 500;
    color: var(--one);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
 
.nav-list-link.active,
li.nav-list-item.active,
.nav-list .nav-list-item .nav-list-link.active {
    color: var(--three);
    background-image: none;
    background-color: transparent;
    font-weight: 700;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-expander:hover,
.nav-list .nav-list-item .nav-list-link:hover {
    background-image: none;
    color: var(--four);
}

.nav-list .nav-list-item .nav-list-expander:hover svg {
    color: var(--four);
}

.main-content .anchor-heading svg {
    color: var(--four)
}

.footnotes {
    padding: 1rem;
    background-color: var(--five);
    margin-top: 60px;
}

.foonotes::before {
    display: block;
    content: 'Footnotes';
    font-family: 'Silkscreen', sans-serif;
    font-size: 1rem;
    color: var(--two);
}

.highlight, 
pre.highlight {
    background: var(--markdown);
    color: var(--content);
}

.main-header {
    background-color: transparent;
    border-bottom: 1px solid var(--five);
}